.new:hover{
    background-color: rgb(53, 179, 137);
}
.newer{
    text-decoration: none;
    color: white;
}
.new{
    text-decoration: none;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #17f1c9;
    outline: none;
    border: none;
    color: white;
    font-size: 40px;
    transition: background-color 0.3s ease;
}
.projects{
    width: fit-content;
    margin: auto;
}