body{
    background-color: rgb(116, 5, 82);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 border-radius: 5px;
 border: 2px solid rgb(243, 81, 108);   
 height: 400px;
 width: 400px;
 margin: 7px auto;
 display: grid;
 background-color: rgb(128, 0, 66);
 transition: background-color 0.7s ease, box-shadow 1s ease;
}
.container:hover{
    box-shadow: 0 0 30px rgb(255,0,106); 
    background-color: rgb(213, 6, 113);
}
.title{
    background-color: rgb(128, 0, 66);
    border-radius: 5px;
    border: 2px solid rgb(243, 81, 108);  
    transition: border 0.4s ease;
    flex-grow: 1;
    max-width: 30%;
}
.titlehold{
    display: flex;
    justify-content: space-between;/* This will push the button to the far left and the textbox to the far right */
    align-items: center;
    width: 60%;
}
.title:hover{
    border: 2px solid rgb(252, 111, 135);
}
.text{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    overflow:auto;
}
.tagshold{
    margin: 7px auto;
    width:  100%;
    text-align: center;
}
.tags{
    background-color: rgb(128, 0, 66);
    border-radius: 5px;
    border: 2px solid rgb(243, 81, 108);  
    margin: auto;
    transition: border 0.4s ease;
    width: 25%;
}
.tags:hover{
    border: 2px solid rgb(252, 111, 135);
}

.savecontainer{
    width: 100%;
    text-align: center;
}
.linkback{
    text-decoration: none;
}
.back{
    text-align: center;
    border-radius: 2px;
    width: 6%;
    height: 4%;
    display: inline-block;
    outline: none;
    border: 2px solid rgb(213, 6, 113);
    background-color: transparent;
    transition:  border 0.7s ease;
}
.back:hover{
 border: 2px solid rgb(243, 81, 108);
}
.save{
    background-color: rgb(128, 0, 66);
    border-radius: 5px;
    color: white;
    outline: none;
    border: 2px solid rgb(243, 81, 108);
    transition: border 0.4s ease;
    transition: background-color 0.5s ease;
    padding: 5px;
}
.save:hover{
    background-color: rgb(213, 6, 113);
    border: 2px solid rgb(252, 111, 135);
}